body {
    -webkit-user-select: none;
    user-select: none;
    margin-top: 50px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

header {
    width: 100%;
    height: 50px;
    position: fixed !important;
    top: 0;
    z-index: 10;
}

header nav {
    border-radius: 0px !important;
}

.margin-left-30 {
    margin-left: 30px;
}


.margin-left-minus-30 {
    margin-left: -30px;
}

.input-group-addon.glyphicon {
    top: 0px;
}

.has-success .input-group-btn .btn {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #3c763d;
}

.has-success .input-group-btn .btn:hover {
    background-color: #3c763d;
    color: #ffffff;
}

