<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Author</th>
            <th>Message</th>
        </tr>
        <tr th:each="tweet : ${tweets}">
            <td th:text="${tweet.id}">tweeter id</td>
            <td th:text="${tweet.author}">tweeter author</td>
            <td th:text="${tweet.message}">tweeter text</td>
            <td th:text="${tweet.postedDate}">tweeter text</td>
        </tr>
    </table>
</body>
</html>