<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet"  href="/assets/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet"  href="/assets/css/style.css" />

    <script data-main="assets/app/init.js" src="assets/bower_components/requirejs/require.js"></script>
</head>
<body ng-show="env" ng-cloak>
    <header>
        <nav class="clearfix navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="header nav .navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/#/" class="navbar-brand">Twitter Mesh</a>
            </div>
            <div class="navbar-collapse collapse" ng-if="!env.authenticated">
                <div class="pull-right visible-md visible-sm visible-lg">
                    <ul class="nav navbar-nav">
                        <li><a href="#/login" >Sign In</a></li>
                        <li><a href="#/signup" >Sign Up</a></li>
                    </ul>
                </div>
                <div class="hidden-md hidden-sm hidden-lg">
                    <ul class="nav navbar-nav">
                        <li><a href="#/login" >Sign In</a></li>
                        <li><a href="#/signup" >Sign Up</a></li>
                    </ul>
                </div>
            </div>

            <div class="navbar-collapse collapse" ng-if="env.authenticated">
                <div class="pull-right visible-md visible-sm visible-lg">
                    <ul class="nav navbar-nav">
                        <li><a href="#/tweets" >Tweets</a></li>
                        <li><a href="#/logout" >Logout</a></li>
                    </ul>
                </div>
                <div class="hidden-md hidden-sm hidden-lg">
                    <ul class="nav navbar-nav">
                        <li><a href="#/tweets" >Tweets</a></li>
                        <li><a href="#/logout" >Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" ng-view></div>
</body>
</html>